@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Noto+Serif:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth
}
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.44;
  color: #191F4D;
  background-color: #fff;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
}
ul {
  list-style: none;
}
.square-link {
  display: flex;
  gap: 20px;
  width: fit-content;
  width: -moz-fit-content;
  padding: 12px 28px 13px 44px;
  border: 1px solid #191F4D;
  border-radius: 4px;
  background-color: #FFFFFF;
  transition: ease 0.5s background-color, ease 0.5s color;
}
.square-link span {
  transition: ease 0.5s transform;
}
.square-link:hover {
  color: #FFFFFF;
  background-color: #191F4D;
}

.hamburger {
  display: none;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #E6E6E6;
  background-color: #fff;
  z-index: 100;
}
header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  max-width: 1360px;
  padding: 0 50px;
  margin: 0 auto;
}
header h1 img {
  width: 100px;
  object-fit: contain;
  -o-object-fit: contain;
}
header > div > div,
footer > div > div > div {
  display: flex;
  align-items: center;
}
header ul,
footer ul {
  display: flex;
  gap: 32px;
  font-size: 14px;
  font-weight: 700;
}
header ul + ul,
footer ul + ul {
  gap: 25px;
  margin-left: 30px;
  padding-left: 30px;
  border-left: 1px solid #E6E6E6;
}
header ul li a,
footer ul li a {
  position: relative;
}
header ul li a:hover::after {
  content: "";
  position: absolute;
  bottom: -27.5px;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #191F4D;
}
header ul + ul li a,
footer ul + ul li a {
  display: flex;
  align-items: center;
  gap: 8px;
}
header ul img,
footer ul img {
  width: 20px;
  height: 20px;
}

#FV {
  display: flex;
}
#FV > div,
#FV > img {
  height: calc(100vh - 75px);
  min-height: 600px;
  width: 50%;
}
#FV > div {
  position: relative;
  background-color: #F9F9F9;
}
#FV > div > div {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: fit-content;
  height: -moz-fit-content;
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
}
#FV h2 {
  font-family: 'Noto Serif', serif;
  font-size: min(6.3vw,90px);
  font-weight: 400;
  line-height: min(7vw,100px);
}
#FV p {
  margin-top: min(2.2vw,32px);
  font-size: min(1.3vw,18px);
}
#FV .square-link {
  margin: 64px auto 0;
}
#FV > img {
  object-fit: cover;
  -o-object-fit: cover;
}

#service,
#features,
#events {
  padding: 120px 50px;
}
#features {
  background-color: #F9F9F9;
}
#service h2,
#features h2,
#events h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
#service h2 + p,
#features h2 + p,
#events h2 + p {
  margin-top: 40px;
  text-align: center;
}

#service ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  max-width: 1040px;
  margin: 64px auto 0;
}
#service ul li {
  position: relative;
  height: 305px;
  width: 505px;
  border: 1px solid #E6E6E6;
  transition: ease 0.5s border;
}
#service ul li:hover {
  border: 1px solid #191F4D;
}
#service ul li a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 40px;
}
#service ul li a h3 {
  font-size: 24px;
  font-weight: 700;
}
#service ul li a p {
  margin-top: 20px;
}
#service ul li a p + p {
  position: absolute;
  bottom: 40px;
  right: 40px;
  font-weight: 700;
}
#service ul li:hover a p + p {
  transform: translate(10px, 5px);
}
#service ul li a p + p::after {
  content: "";
  position: absolute;
  bottom: 3px;
  display: block;
  width: 0;
  height: 1px;
  background-color: #191F4D;
  transition: ease 0.5s width;
}
#service ul li:hover a p + p::after {
  width: 80px;
  bottom: 8px;
}
#service ul li a p + p span {
  display: inline-block;
  width: 40px;
  border-radius: 50%;
  margin-left: 16px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  color: #FFF;
  background-color: #191F4D;
}
#service ul li:hover a p + p span {
  width: 50px;
  line-height: 50px;
  transform: translateX(-5px);
}

#features ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 64px;
}
#features ul li {
  width: 100%;
  max-width: 340px;
  text-align: center;
}
#features ul li h3 {
  width: 104px;
  border: 1px solid #191F4D;
  border-radius: 100%;
  margin: 0 auto;
  line-height: 104px;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}
#features ul li p {
  margin-top: 36px;
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
#features .square-link {
  margin: 80px auto 0;
}

#events ul {
  max-width: 1040px;
  margin: 64px auto 0;
}
#events ul li {
  padding-top: 20px;
  border-top: 1px solid #E6E6E6;
}
#events ul li + li {
  margin-top: 60px;
}
#events ul li a {
  display: flex;
  gap: 20px;
}
#events ul li a img {
  width: 100%;
  max-width: 312px;
  height: 165px;
  object-fit: cover;
  object-position: center;
}
#events ul li a .category {
  width: fit-content;
  padding: 0 8px;
  line-height: 24px;
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #191F4D;
}
#events ul li a h3 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
#events ul li a:hover h3 {
  text-decoration: underline;
}
#events ul li a .date,
#events ul li a .location {
  font-size: 14px;
  font-weight: 400;
}
#events ul li a .date {
  margin-top: 18px;
}
#events ul li a .date span,
#events ul li a .location span {
  letter-spacing: 0.8em;
}
#events ul li a .date strong {
  font-size: 20px;
  font-weight: 500;
}
#events ul li a .location {
  margin-top: 8px;
}
#events br {
  display: none;
}
#events .square-link {
  margin: 80px auto 0;
}

#contact {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  background-color: #191F4D;
}
#contact div {
  width: 660px;
  padding: 76px 70px;
}
#contact div + div {
  border-left: 1px solid #FFFFFF4D;
}
#contact h2 {
  font-size: 28px;
  font-weight: 700;
}
#contact p {
  margin-top: 24px;
  line-height: 32px;
}
#contact a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding-right: 30px;
  padding-left: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  margin-top: 38px;
  font-size: 18px;
  transition: ease 0.5s background-color, ease 0.5s color;
}
#contact a:hover {
  color: #191F4D;
  background-color: #FFFFFF;
}
#contact a span {
  display: inline-block;
  width: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 400;
  line-height: 38px;
  text-align: center;
  color: #FFF;
}
#contact a:hover span {
  width: 50px;
  line-height: 48px;
  border-color: #191F4D;
  background-color: #191F4D;
  transform: translateX(5px);
}

footer > div {
  max-width: 1260px;
  padding: 0 30px;
  margin: 0 auto;
}
footer > div > div {
  display: flex;
  justify-content: space-between;
  min-height: 283px;
}
footer > div > div > div {
  margin-top: -6px;
}
footer img {
  width: 170px;
  object-fit: contain;
  object-position: center;
}
footer p {
  margin-top: -64px;
  font-size: 10px;
  font-weight: 400;
  text-align: right;
}

@media screen and (max-width: 899px) {
  .hamburger {
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    padding: 11px 0;
  }
  .hamburger::before,
  .hamburger::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #191F4D;
  }
  .hamburger::before {
    top: 4px;
  }
  .hamburger::after {
    bottom: 4px;
  }
  .hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #191F4D;
  }
  header > div {
    height: 50px;
    padding: 0 15px;
  }
  header ul {
    display: none;
  }
  #FV {
    position: relative;
  }
  #FV > div, #FV > img {
    height: calc(100vh - 50px);
  }
  #FV > div {
    position: absolute;
    top: 0;
    left: 0;
    background-color: initial;
  }
  #FV h2, #FV p {
    color: #FFFFFF;
  }
  #FV h2{
    font-size: 10vw;
    line-height: 11vw;
    text-shadow: 5px 5px #191F4D;
  }
  #FV p {
    text-shadow: 2px 2px #191F4D;
    margin-top: 4vw;
    font-size: 2vw;
  }
  #FV > div, #FV > img {
    width: 100%;
  }
  #FV .square-link {
    margin: 17vw auto 0;
  }

  #service, #features, #events {
    padding: 120px 30px;
  }
  #service h2, #features h2, #events h2 {
    font-size: 28px;
  }
  #events ul li a {
    flex-direction: column;
  }
  #events ul li a img {
    margin: 0 auto;
  }
  #events br {
    display: inline;
  }
  #contact {
    flex-direction: column;
  }
  #contact div {
    width: 100%;
    padding: 50px 30px;
  }
  #contact div + div {
    border-left: initial;
    border-top: 1px solid #FFFFFF4D;
  }
  footer > div > div {
    padding: 80px 0px;
    flex-wrap: wrap;
    min-height: initial;
    gap: 60px;
  }
  footer > div > div > div {
    flex-wrap: wrap;
    align-items: end;
    margin-top: 0;
  }
  footer ul {
    flex-direction: column;
    gap: 25px;
  }
  footer ul + ul {
    flex-direction: column;
  }
}